[submodule "mycroft-hello-world"]
	path = skill-hello-world
	url = https://github.com/mycroftai/skill-hello-world
[submodule "gigundo-pairing"]
	path = skill-pairing
	url = https://github.com/GigundoAI/skill-pairing
[submodule "gigundo-configuration"]
	path = skill-configuration
	url = https://github.com/GigundoAI/skill-configuration
[submodule "test"]
	path = test
	url = https://github.com/JarbasAl/test-skill
