[submodule "mycroft-hello-world"]
	path = skill-hello-world
	url = https://github.com/mycroftai/skill-hello-world
[submodule "mycroft-pairing"]
	path = skill-pairing
	url = https://github.com/GigundoAI/skill-pairing
[submodule "mycroft-configuration"]
	path = skill-configuration
	url = https://github.com/GigundoAI/skill-configuration